.footer {

    display: flex;
    flex-direction: row;
    height: 65px;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    gap: 16px;
    width: 1512px;
    border: 1px solid #e5e5e5;
    background-color: #FFFFFF;
    -webkit-text-fill-color: #222222;

    @media (min-width: 1512px) {
        max-width: 1000px;
    }
}

.footer span {
    font-weight: bold;
}