.Header {
    margin-top: 298px;
    position: absolute;
    background: #e0e0e0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 14px 32px;
    gap: 16px;
    left: 10px;
}

.imagemperfil {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}