.Header {
    display: flex;
    flex-direction: row;
    height: 65px;
    justify-content: first baseline;
    align-items: center;
    padding: 0 16px;
    gap: 16px;
    width: 1310px;
    background-color: #FFFFFF;
    -webkit-text-fill-color: #222222;

}

.imagemperfil {
    width: 60px;
    height: 60px;
    border-radius: 50%;

    @media (min-width: 600px) {
        max-width: 127px;
    }

}

.userinfo {
    line-height: 5px;
    width: 100%;
    padding: 5px 0px;
    gap: 16px;
}