.container {

    height: 100%;
    width: 100%;
}

.sectdiv {
    display: flex;
}

.linha {
    content: '';
    display: block;
    height: 1px;
    width: 1310px;
    padding: 0 16px;
    background-color: #e5e5e5;
    margin-top: 0;
}