.container {

    height: 100%;
    width: 100%;
}

.sectdiv {
    display: flex;
}

.linha {
    content: '';
    display: block;
    height: 1px;
    width: 1310px;
    padding: 0 16px;
    background-color: black;
    margin-top: 0;
}

.linhafooter {
    content: '';
    display: block;
    height: 1px;
    width: 1500px;
    padding: 0 16px;
    background-color: black;
    margin-top: 0;
    margin-left: 5px;
}