.Menu {
    display: flex;
    align-items: center;
    padding: 1em 1.2em;
    background-color: #FFFFFF;
    border: 1px solid #e5e5e5;

}

.paraf {
    justify-items: first baseline !important;
    font-family: cursive;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
    -webkit-text-fill-color: red;
}

.logo {
    background-image: url(../public/logoAluraTube.svg);
    background-repeat: no-repeat;
    margin-top: 5px;
    width: 100vw;
    height: 60px;
    border-radius: 5%;
    margin-left: 35px;
    max-width: 80px;

    @media (min-width: 600px) {
        max-width: 127px;
    }
}

.buttom {
    background-color: black;
    cursor: pointer;
    border: none;
    border-radius: 15%;
    display: flex;
    max-width: 425px;
    max-height: 425px;
    width: 100px;
    height: 41px;
    overflow: hidden;
    margin-left: 570px;
}