.Menu {
    display: flex;
    flex-direction: row;
    height: 65px;

    align-items: center;
    padding: 0 16px;
    gap: 16px;
    width: 1512px;
    background-color: #FFFFFF;
    -webkit-text-fill-color: #222222;

    @media (min-width: 800px) {
        max-width: 1512px;
    }

}

.paraf {

    font-family: cursive;
    font-size: 30px;
    margin-left: -20px;
    margin-top: 15px;
    -webkit-text-fill-color: red;
}

.logo {
    background-image: url(../public/logoAluraTube.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    margin-top: 10px;
    min-width: 90px;
    height: 60px;
    max-width: 80px;

    @media (min-width: 600px) {
        max-width: 127px;
    }
}

.buttom {
    background-color: black;
    cursor: pointer;
    border: none;
    border-radius: 17px;
    display: flex;
    max-width: 425px;
    max-height: 425px;
    width: 50px;
    height: 26px;
    overflow: hidden;
    margin-left: 735px;
    color: white;
}