.menuglobal {
    display: flex;
    flex-direction: row;
    height: 65px;
    align-items: center;
    padding: 0 16px;
    gap: 16px;
    width: 1512px;

    @media (min-width: 800px) {
        max-width: 1512px;
    }

}

.paraf {

    font-family: cursive;
    font-size: 30px;
    margin-left: -20px;
    margin-top: 15px;


}

.menulogo {
    margin-top: 10px;
    min-width: 90px;
    height: 60px;
    max-width: 80px;

    @media (min-width: 600px) {
        max-width: 127px;
    }
}