.sectionvideo {
    padding: 0;
    overflow: hidden;
    gap: 16px;
    width: 1510px;
    background-color: #FFFFFF;
    -webkit-text-fill-color: #222222;

}

.thumbvideo {
    aspect-ratio: 16/9;
    font-weight: 500px;
    object-fit: cover;
    width: 100%;
    max-width: 210px;
    height: auto;
}

.tituloh2 {

    font-size: 20px;
    text-transform: capitalize;
    margin-left: 15px;

}

.divvideo {

    width: 88%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(6, minmax(200px, 1fr));
    grid-auto-columns: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: 50px;
    margin-left: 15px;
}

.avideo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, "Helvetica Neue", Helvetica, sans-serif;
    scroll-snap-align: start;
    list-style: none;
    text-decoration: none;
}

.spanvideo {
    padding-top: 10px;
    padding-right: 24px;
}