.TimeLine {
    position: absolute;
    width: 100vw;
    height: 720vh;
    left: 0;
    top: 398px;

    /* light/backgroundBase */

    background: #F9F9F9;
}

.tituloh2 {
    margin-top: -40px;
    font-size: 18px;
    margin-bottom: 08px;
    text-transform: capitalize;
}

.spanvideo {
    padding-top: 5px;
    display: block;
    padding-right: 24px;
    overflow-wrap: break-word;

}

.avideo {
    scroll-snap-align: start;
    width: 100vw;
    height: 245px;
}

.divvideo {
    width: 100vw;
    display: inline-flex;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(205px, 1fr);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-bottom: 25px;
}


.sectionvideo {
    width: 100%;
    padding: 0px;
    padding: 16px;
}

.thumbvideo {
    font-weight: 500px;
    object-fit: cover;
    width: 100vw;
    max-width: 210px;
    height: auto;
}